.Numbers{
    border: 1px solid black;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding-top: 25px;
}
.words {
    
}
.wordsgreen{
    background-color: green;
    border: 1px solid black;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding-top: 25px;
}

.wordsblue{
    background-color: pink;
    border: 1px solid black;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    padding-top: 25px;
}