.increment{
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    margin:0 auto;
    margin-left: 17px;
    margin-top: 20px;
}

.decrement{
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    margin:0 auto;
    margin-right: 17px;
}

.reset{
    border: 1px solid black;
    border-radius: 10px;
    width: 70px;
    margin:0 auto;
}